@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
}

.border-link:hover::after {
  width: 100%;
}

.border-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: .1em;
  transition: width .33s linear;
  width: 0%;
}

.border-link::after {
  background-color: #000000;
}